<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Beat The Algos</title>
		
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script src='js/JareUtils.js'></script>
  		<script src='js/FPSMeter.js'></script>
 		<script src='js/GameLoopManager.js'></script>
		<script type="text/javascript" src="/js/Lesson.js"></script>
		<!-- <script type="text/javascript" src="/js/desk_zoom.js"></script> -->
		
		<style>
		    #screen { display:block; margin:0 auto; background-color:#F0F; }
		    .fpsmeter {
		        padding: 0;
		        margin: 0;
		        width: 100%;
		        text-align: center;
		    }
		    .fpsmeter p {
		        margin-top: 0px;
		        margin-bottom: 0px;
		    }
		</style>
		</head>
	
	<body>
		<h3>HTML5 Game Programming lesson 1</h3>
	  	<canvas id='screen' width='800' height='610'></canvas>
	  	<div id="fpscontainer"></div>
		<!-- <canvas id="screen"></canvas> -->
	</body>
</html>


